*{
  color: white;

}

.cat{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
h1:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
h1:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	header {
		margin-top: 40px;
	}
}

textarea{
  height: 150px !important;
}

.Header{
  font-size: 50px;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* Make sure the wrapper takes the full height of the viewport */
width: 50;
}

.copy {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 28px;

  &:hover {
    background-color: #555;
  }
}


.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.submitbutton{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputstuff{
  background-color: transparent;
  font-size: 18px;
  height: auto;
}

.output{
  margin-top: 40px;
}

.label{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 8px;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.letter{
  font-size: 14px;
}

.copy {
  background-color: #333; /* Darker background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  &:hover {
    background-color: #555; /* Darker background color on hover */
  }
}


.Header::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a4a4a4; /* Adjust the color as desired */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.Header:hover::before {
  visibility: visible;
  transform: scaleX(1);
}




